@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.grey {
 color: #ABABAB;
}
.dark {
 color: #212529;
}

.btn {
 width: fit-content;
 margin: .5rem 0;
 padding: .2rem 1rem;
 background-color: #FF6A00;
 color: #FFF;
 transition: .3s all ease;
 white-space: nowrap;
 outline: none;
 box-shadow: none;
 &:hover {
  opacity: .75;
 }
}
.sm-btn {
 border-radius: 1.5rem;
}
.md-btn {
 padding: .5rem 3rem;
}
@include media-breakpoint-down(sm) {
 .md-btn {
  padding: .5rem 1rem;
 }
}

button.close {
 outline: none;
}
.modal-header,
.modal-footer {
 border: none;
}
.modal-body {
 text-align: center;
 &__image {
  margin: .5rem 0 2rem;
  img {
   width: 3rem;
  }
 }
}


// TODO: Организовать и вынести в отдельное место
input[type='range'] {
 width: 100%;
 overflow: hidden;
 -webkit-appearance: none;
 background-color: #E4E4E4;
 outline: none;
 cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
 height: .25rem;
 -webkit-appearance: none;
 color: #FF6A00;
}

input[type='range']::-webkit-slider-thumb {
 width: 1rem;
 height: 1rem;
 border-radius: .5rem;
 -webkit-appearance: none;
 cursor: pointer;
 background: #FF6A00;
 box-shadow: -20rem 0 0 20rem #FF6A00;
}

/** FF*/
input[type="range"]::-moz-range-progress {
 background-color: #FF6A00; 
}
input[type="range"]::-moz-range-track {  
 background-color: #9a905d;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
 background-color: #FF6A00; 
}
input[type="range"]::-ms-fill-upper {  
 background-color: #9a905d;
}



.item-name {
 color: #ABABAB;
 font-size: .8rem;
 white-space: nowrap;
}
.item-value {
 margin-top: auto;
 color: #ABABAB;
 font-size: 1.4rem;
 font-weight: 500;
 white-space: nowrap;
}

.container {
 margin-top: 2.5rem;
}

.info-panel {
 &__subtitle {
  display: inline-block;
  margin: 0 .5rem;
  color: #ABABAB;
  font-size: 1.25rem;
 }
 &__link {
  a {
   color: #FF6A00;
   text-decoration: none;
  }
 }
}
@include media-breakpoint-down(sm) {
 .info-panel__title h4 {
  font-size: 1.2rem;
 }
 .info-panel__subtitle {
  font-size: 1rem;
 }
}


.card-wrapper {
 .col-12 {
  transition: 0.3s all ease;
 }
 .card {
  min-width: 12rem;
  min-height: 15rem;
  margin: .5rem -.25rem;
  padding: 1rem;
  background-color: #FFF;
  border: none;
  border-radius: .5rem;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
  transition: 0.3s all ease;
  cursor: pointer;
  &:hover {
   box-shadow: 0 0 15px rgba(0,0,0,.2);
  }
  &__image {
   margin-bottom: auto;
   img {
    width: 100%;
   }
  }
  &__quantity {
   color: #777;
   font-size: .8rem;
   margin: .2rem 0;
  }
  &__series {
   font-weight: 500;
   text-transform: uppercase;
   margin: .2rem 0;
  }
  &__price {
   font-size: 1.2rem;
  }
 }
}

.form-credit {
 .info-card {
  height: auto;
  margin: 2.5rem 0;
  background-color: #FFF;
  border-radius: .5rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  &__image {
   height: 100%;
   padding: 0;
   img {
    width: 100%;
    border-radius: .5rem;
   }
  }
  &__feature {
   padding: 1rem;
  }
  @include media-breakpoint-down(md) {
   &__feature {
    text-align: center;
    align-items: center;
   }
  }
 }
}

.feature-name {
 padding: .5rem;
 font-weight: 500;
}
.feature-items {
 overflow-x: auto;
 &__item {
  padding: .5rem;
 }
}
@include media-breakpoint-down(md) {
 .feature-items {
  text-align: center;
 }
}

.info-card__price {
 padding: 1rem;
 .item-value {
  color: #212529;
  font-size: 1.9rem;
  font-weight: 500;
 }
}

.settings {
 padding: 2.5rem;
 background-color: #FFF;
 .info-panel {
  &__title {
   color: #ABABAB;
   text-transform: uppercase;
  }
 }
 &__item {
  padding: 1rem;
  margin: .5rem;
  border: #E4E4E4 1px solid;
  border-radius: .5rem .5rem 0 0;
  .item-range {
   margin: 0 -1rem -1.5rem;
  }
 }
 .feature-items {
  margin: 1rem 0;
  &__item {
   padding: 1.5rem;
  }
 }
}
@include media-breakpoint-down(sm) {
 .settings {
  padding: 2.5rem 0;
  .info-panel__title h5 {
   font-size: 1rem;
  }
 }
}