<div class="container">
 <div class="card-container row justify-content-center">
  <div class="card col-12 col-md-3 d-flex flex-column">
   <div class="card__image">
    <img src="/assets/images/bmw-1.png" alt="">
   </div>
   <div class="card__quantity">
    7 авто
   </div>
   <div class="card__series">
    3 СЕРИИ
   </div>
   <div class="card__price">
    от 1 970 000 Р
   </div>
  </div>
  <div class="card col-12 col-md-3 d-flex flex-column">
   <div class="card__image">
    <img src="/assets/images/bmw-2.png" alt="">
   </div>
   <div class="card__quantity">
    5 авто
   </div>
   <div class="card__series">
    5 СЕРИИ
   </div>
   <div class="card__price">
    от 2 370 000 Р
   </div>
  </div>
  <div class="card col-12 col-md-3 d-flex flex-column">
   <div class="card__image">
    <img src="/assets/images/bmw-3.png" alt="">
   </div>
   <div class="card__quantity">
    4 авто
   </div>
   <div class="card__series">
    7 СЕРИИ
   </div>
   <div class="card__price">
    от 3 670 000 Р
   </div>
  </div>
  <div class="card col-12 col-md-3 d-flex flex-column">
   <div class="card__image">
    <img src="/assets/images/bmw-1.png" alt="">
   </div>
   <div class="card__quantity">
    7 авто
   </div>
   <div class="card__series">
    3 СЕРИИ
   </div>
   <div class="card__price">
    от 1 970 000 Р
   </div>
  </div>
  <div class="card col-12 col-md-3 d-flex flex-column">
   <div class="card__image">
    <img src="/assets/images/bmw-2.png" alt="">
   </div>
   <div class="card__quantity">
    5 авто
   </div>
   <div class="card__series">
    5 СЕРИИ
   </div>
   <div class="card__price">
    от 2 370 000 Р
   </div>
  </div>
  <div class="card col-12 col-md-3 d-flex flex-column">
   <div class="card__image">
    <img src="/assets/images/bmw-3.png" alt="">
   </div>
   <div class="card__quantity">
    4 авто
   </div>
   <div class="card__series">
    7 СЕРИИ
   </div>
   <div class="card__price">
    от 3 670 000 Р
   </div>
  </div>  
 </div>
</div>