<div class="container">

 <div class="info-panel row">
  <div class="col-12 d-flex">
   <div class="info-panel__title">
    <h4>BMW</h4>
   </div>
   <div class="info-panel__subtitle">
    <span>32</span>
   </div>
   <div class="info-panel__link ml-auto">
    <a href="#">Все модели BMW</a> 
   </div>
  </div>
 </div>

 <div class="card-wrapper row justify-content-center">
  <div class="col-12 col-sm-6 col-lg-4" *ngFor="let car of cars">
   <div class="card d-flex flex-column" (click)="outputPrice(car.price); openCreditForm(creditForm)">
    <div class="card__image">
     <img src="{{car.image}}" alt="">
    </div>
    <div class="card__quantity">
     {{car.quantity}}&nbsp;авто
    </div>
    <div class="card__series">
      {{car.model}}
    </div>
    <div class="card__price">
     от {{car.price}} ₽
    </div>
   </div>
  </div>
 </div>

 <!-- <div class="card-wrapper row justify-content-center">
  <div class="col-12 col-sm-6 col-lg-4">
   <div class="card d-flex flex-column" (click)="outputPrice(carPrices[0]); openCreditForm(creditForm)">
    <div class="card__image">
     <img src="/assets/images/bmw-1.png" alt="">
    </div>
    <div class="card__quantity">
     7 авто
    </div>
    <div class="card__series">
     3 СЕРИИ
    </div>
    <div class="card__price">
     от {{carPrices[0]}} ₽
    </div>
   </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-4">
   <div class="card d-flex flex-column" (click)="outputPrice(carPrices[1]); openCreditForm(creditForm)">
    <div class="card__image">
     <img src="/assets/images/bmw-2.png" alt="">
    </div>
    <div class="card__quantity">
     5 авто
    </div>
    <div class="card__series">
     5 СЕРИИ
    </div>
    <div class="card__price">
     от {{carPrices[1]}} ₽
    </div>
   </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-4">
   <div class="card d-flex flex-column" (click)="outputPrice(carPrices[2]); openCreditForm(creditForm)">
    <div class="card__image">
     <img src="/assets/images/bmw-3.png" alt="">
    </div>
    <div class="card__quantity">
     4 авто
    </div>
    <div class="card__series">
     7 СЕРИИ
    </div>
    <div class="card__price">
     от {{carPrices[2]}} ₽
    </div>
   </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-4">
   <div class="card d-flex flex-column" (click)="outputPrice(carPrices[3]); openCreditForm(creditForm)">
    <div class="card__image">
     <img src="/assets/images/bmw-1.png" alt="">
    </div>
    <div class="card__quantity">
     7 авто
    </div>
    <div class="card__series">
     3 СЕРИИ
    </div>
    <div class="card__price">
     от {{carPrices[3]}} ₽
    </div>
   </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-4">
   <div class="card d-flex flex-column" (click)="outputPrice(carPrices[4]); openCreditForm(creditForm)">
    <div class="card__image">
     <img src="/assets/images/bmw-2.png" alt="">
    </div>
    <div class="card__quantity">
     5 авто
    </div>
    <div class="card__series">
     5 СЕРИИ
    </div>
    <div class="card__price">
     от {{carPrices[4]}} ₽
    </div>
   </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-4">
   <div class="card d-flex flex-column" (click)="outputPrice(carPrices[5]); openCreditForm(creditForm)">
    <div class="card__image">
     <img src="/assets/images/bmw-3.png" alt="">
    </div>
    <div class="card__quantity">
     4 авто
    </div>
    <div class="card__series">
     7 СЕРИИ
    </div>
    <div class="card__price">
     от {{prices[5]}} ₽
    </div>
   </div>
  </div>  
 </div> -->

  <ng-template #creditForm let-modal>
    <div class="modal-header">
      <!-- <h4 class="modal-title" id="modal-basic-title">Profile update</h4> -->
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
      <div class="container">
        <div class="form-credit">

          <div class="info-panel row">
          <div class="col-12 d-flex">
            <div class="info-panel__title">
            <h4>Расчет кредита</h4>
            </div>
            <div class="info-panel__subtitle">
            <span>Toyota Land Cruiser Comfort</span>
            </div>
          </div>
          </div>
          <div class="info-card row">
          <div class="info-card__image col-12 col-lg-4">
            <img src="/assets/images/toyota.jpg" alt="">
          </div>
          <div class="info-card__feature col-12 col-lg-4 d-flex flex-column justify-content-center">
            <div class="feature-name">
            Toyota Land Cruiser <span class="grey">Comfort</span>
            </div>
            <div class="feature-items d-flex">
            <div class="feature-items__item d-flex flex-column">
              <div class="item-name">
              Бензин, 180 л.с.
              </div>
              <div class="item-value">
              2,0 Л
              </div>
            </div>
            <div class="feature-items__item d-flex flex-column">
              <div class="item-name">
              Передний
              </div>
              <div class="item-value">
              4x2
              </div>
            </div>
            <div class="feature-items__item d-flex flex-column">
              <div class="item-name">
              6 ступений
              </div>
              <div class="item-value">
              АКПП
              </div>
            </div>
            </div>
          </div>
          <div class="info-card__price col-12 col-lg-4 d-flex flex-column justify-content-center align-items-center">
            <button class="btn sm-btn">Скидка 200 000 ₽</button>
            <div class="feature-items__item">
            <div class="item-name">
              Стоимость автомобиля
            </div>
            <div class="item-value">
              {{carPrice}} ₽
            </div>
            </div>
          </div>
          </div>
        
          <div class="settings">
          <div class="info-panel">
            <div class="col-12 d-flex">
            <div class="info-panel__title">
              <h5>Настройки кредита</h5>
            </div>
            </div>
          </div>
          <form #myForm="ngForm" novalidate>
            <div class="row">
            <div class="col-12 col-lg-4">
              <div class="settings__item">
              <div class="item-name">
                Первоначальный взнос
              </div>
              <div class="item-value d-flex">
                <span class="dark">{{myForm.value.deposit}}</span>&nbsp;₽ 
                <div class="item-value_converted">
                  <span class="grey">{{((myForm.value.deposit / carPrice) * 100).toFixed(1)}}%</span>
                </div>
              </div>
              <div class="item-range">
                <input type="range" name="deposit" [ngModel]="minDeposit" min="{{minDeposit}" max="{{carPrice * .75}}" value="{{carPrice}}" step="{{carPrice * .05}}" (change)="calcCredit(carPrice, myForm.value.deposit, myForm.value.period)">
              </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="settings__item">
              <div class="item-name">
                Готов платить в месяц
              </div>
              <div class="item-value">
                <span class="dark">до {{myForm.value.payment}}</span> ₽
              </div>
              <div class="item-range">
                <input type="range" name="payment" [ngModel]="minPayment" min="{{minPayment}}" max="{{maxPayment}}" value="{{defaultPayment}}" step="1000" (change)="calcCredit(carPrice, myForm.value.deposit, myForm.value.period)">
              </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="settings__item">
              <div class="item-name">
                Срок кредита
              </div>
              <div class="item-value d-flex">
                <span class="dark">{{myForm.value.period}}</span>&nbsp;месяцев
                <div class="item-value_converted">
                  <span class="grey">{{(myForm.value.period / 12).toFixed(0)}}</span> лет
                </div>
              </div>
              <div class="item-range">
                <input type="range" name="period" [ngModel]="maxPeriod - (((myForm.value.payment - defaultPayment) / 1000) * 12)" min="60" max="{{maxPeriod}}" value="{{maxPeriod - (((myForm.value.payment - defaultPayment) / 1000) * 12)}}" step="12" (change)="calcCredit(carPrice, myForm.value.deposit, myForm.value.period)">
              </div>
              </div>
            </div>
            </div>
          </form>
        
          <div class="feature-items row">
            <div class="col-12 col-lg-8 d-flex flex-wrap justify-content-center justify-content-lg-start">
            <div class="feature-items__item d-flex flex-column">
              <div class="item-name">
              Сумма переплат
              </div>
              <div class="item-value">
              {{(paymentPerMounth * myForm.value.period) - (carPrice - myForm.value.deposit)}}&nbsp;₽
              </div>
            </div>
            <div class="feature-items__item d-flex flex-column">
              <div class="item-name">
              Процентная ставка
              </div>
              <div class="item-value">
              11,8%
              </div>
            </div>
            <div class="feature-items__item d-flex flex-column">
              <div class="item-name">
              Платеж в месяц
              </div>
              <div class="item-value">
              <span class="dark">{{paymentPerMounth}} ₽/мес</span>
              </div>
            </div>
            </div>
            <div class="col-12 col-lg-4">
            <div class="feature-items__item">
              <button class="btn md-btn" (click)="openCallbackForm(callbackForm, carPrice, myForm.value.deposit, myForm.value.payment, myForm.value.period, paymentPerMounth)">Отправить заявку</button>
            </div>
            </div>
          </div>
          </div>
        
        </div>
      </div>
    
  </ng-template>

</div>


<ng-template #callbackForm let-modal>
  <div class="modal-header">
    <!-- <h4 class="modal-title" id="modal-basic-title">Profile update</h4> -->
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="modal-body__image d-flex justify-content-center">
      <img src="/assets/images/callback-icon.png" alt="">
    </div>
    <h4>Ваша заявка отправлена!</h4>
    Спасибо за обращение и загляните в консольку!
  </div>
  <div class="modal-footer d-flex justify-content-center">
    <button type="button" class="btn md-btn" (click)="modal.close()">Вернуться в каталог</button>
  </div>
</ng-template>



