<div class="container">

 <div class="info-panel row">
  <div class="col-12 d-flex">
   <div class="info-panel__title">
    <h4>BMW</h4>
   </div>
   <div class="info-panel__subtitle">
    <span>32</span>
   </div>
   <div class="info-panel__link ml-auto">
    <a href="#">Все модели BMW</a> 
   </div>
  </div>
 </div>

 <div class="card-wrapper row justify-content-center">
  <div class="col-12 col-sm-6 col-lg-4">
   <div class="card d-flex flex-column">
    <div class="card__image">
     <img src="/assets/images/bmw-1.png" alt="">
    </div>
    <div class="card__quantity">
     7 авто
    </div>
    <div class="card__series">
     3 СЕРИИ
    </div>
    <div class="card__price">
     от 1 970 000 ₽
    </div>
   </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-4">
   <div class="card d-flex flex-column">
    <div class="card__image">
     <img src="/assets/images/bmw-2.png" alt="">
    </div>
    <div class="card__quantity">
     5 авто
    </div>
    <div class="card__series">
     5 СЕРИИ
    </div>
    <div class="card__price">
     от 2 370 000 ₽
    </div>
   </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-4">
   <div class="card d-flex flex-column">
    <div class="card__image">
     <img src="/assets/images/bmw-3.png" alt="">
    </div>
    <div class="card__quantity">
     4 авто
    </div>
    <div class="card__series">
     7 СЕРИИ
    </div>
    <div class="card__price">
     от 3 670 000 ₽
    </div>
   </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-4">
   <div class="card d-flex flex-column">
    <div class="card__image">
     <img src="/assets/images/bmw-1.png" alt="">
    </div>
    <div class="card__quantity">
     7 авто
    </div>
    <div class="card__series">
     3 СЕРИИ
    </div>
    <div class="card__price">
     от 1 970 000 ₽
    </div>
   </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-4">
   <div class="card d-flex flex-column">
    <div class="card__image">
     <img src="/assets/images/bmw-2.png" alt="">
    </div>
    <div class="card__quantity">
     5 авто
    </div>
    <div class="card__series">
     5 СЕРИИ
    </div>
    <div class="card__price">
     от 2 370 000 ₽
    </div>
   </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-4">
   <div class="card d-flex flex-column">
    <div class="card__image">
     <img src="/assets/images/bmw-3.png" alt="">
    </div>
    <div class="card__quantity">
     4 авто
    </div>
    <div class="card__series">
     7 СЕРИИ
    </div>
    <div class="card__price">
     от 3 670 000 ₽
    </div>
   </div>
  </div>  
 </div>

 <div class="form-credit">
  <div class="info-panel row">
   <div class="col-12 d-flex">
    <div class="info-panel__title">
     <h4>Расчет кредита</h4>
    </div>
    <div class="info-panel__subtitle">
     <span>Toyota Land Cruiser Comfort</span>
    </div>
   </div>
  </div>
  <div class="info-card row">
   <div class="info-card__image col-12 col-lg-4">
    <img src="/assets/images/toyota.jpg" alt="">
   </div>
   <div class="info-card__feature col-12 col-lg-4 d-flex flex-column justify-content-center">
    <div class="feature-name">
     Toyota Land Cruiser <span class="grey">Comfort</span>
    </div>
    <div class="feature-items d-flex">
     <div class="feature-items__item d-flex flex-column">
      <div class="item-name">
       Бензин, 180 л.с.
      </div>
      <div class="item-value">
       2,0 Л
      </div>
     </div>
     <div class="feature-items__item d-flex flex-column">
      <div class="item-name">
       Передний
      </div>
      <div class="item-value">
       4x2
      </div>
     </div>
     <div class="feature-items__item d-flex flex-column">
      <div class="item-name">
       6 ступений
      </div>
      <div class="item-value">
       АКПП
      </div>
     </div>
    </div>
   </div>
   <div class="info-card__price col-12 col-lg-4 d-flex flex-column justify-content-center">
    <button class="btn sm-btn">Скидка 200 000 ₽</button>
    <div class="feature-items__item">
     <div class="item-name">
      Стоимость автомобиля
     </div>
     <div class="item-value">
      5 131 000 ₽
     </div>
    </div>
   </div>
  </div>
 </div>

</div>